* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    flex-grow: 3;
}

main {
    background-color: rgb(211, 211, 211);
    padding: 20px;
    flex-grow: 4;
}

.txt-mng-btns {
    width: 50%;
    display: flex;
    justify-content: center;
}

.scroll {
    overflow-y: scroll;
}

footer {
    background-color: rgba(95, 46, 46, 0.431);
    width: 100%;
    bottom: 0;
    flex-grow: 4;
}

footer p {
    margin: 0;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    main {
        height: 80%;
        padding: 5px;
    }
    header {
        flex-grow: 2;
    }
    footer {
        flex-grow: 2;
    }
}

#my-canvas {
    border: 1px solid black;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canvas-container {
    width: 50%;
    height: 90%;
    padding: 0;
    border: 0;
}

.panel {
    width: 45%;
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel-item {}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .canvas-container {
        width: 60%;
        height: 50%;
    }
    .panel {
        width: 60%;
        height: 47%;
    }
    .panel-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .canvas-container {
        width: 80%;
    }
    .panel {
        width: 80%;
    }
}

.meme-txt {
    width: 70%;
    border: 0;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    outline: none;
}

.btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    margin: 5px;
    outline: none;
    cursor: pointer;
}

.btn-img {
    width: 100%;
}

.txt-mng-btns {
    width: 50%;
    display: flex;
    justify-content: center;
}

.share {
    width: 5rem;
    cursor: pointer;
}

.download {
    width: 5rem;
}

.txt-design {
    display: flex;
    align-items: center;
}

.font-family {
    height: 70%;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .meme-txt {
        width: 100%;
        margin-bottom: 3px;
    }
    .btn {
        width: 2rem;
        height: 2rem;
        margin: 3px;
        padding: 2px;
    }
    .txt-mng-btns {
        width: 56%;
        justify-content: space-between;
    }
    .share {
        width: 5rem;
    }
    .download {
        width: 5rem;
    }
    .font-family {
        width: 56.5%;
    }
}

.download-link:link {
    text-decoration: none;
    color: black;
}

.download-link:visited {
    text-decoration: none;
    color: black;
}

.stickers {
    background-color: #fff;
    width: 80%;
    height: 80px;
}

@media screen and (max-width: 600px) {
    .stickers {
        height: 40px;
        width: 100%;
    }
}

.imgs {
    display: flex;
    flex: 0, 0, auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.meme-gallery-img {
    max-width: 33%;
    max-height: 30%;
    flex-grow: 1;
    padding: 10px;
}

.meme-img {
    max-width: 20%;
    object-fit: contain;
    flex-grow: 1;
    padding: 10px;
}

@media screen and (max-width: 1300px) {
    .meme-img {
        max-width: 25%;
        object-fit: contain;
        flex-grow: 1;
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {
    .meme-img {
        max-width: 33%;
        object-fit: contain;
        flex-grow: 1;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .meme-img {
        max-width: 50%;
        object-fit: contain;
        flex-grow: 1;
        padding: 5px;
    }
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.opening-gallery {
    display: flex;
    /* background-color: cadetblue; */
    flex-wrap: wrap;
    width: 100%;
    height: 92%;
}

.galley-header {
    text-align: center;
    height: 8%;
    margin: 0;
}

.hide {
    display: none;
}