* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    padding: 2px 10px;
    flex-grow: 3;
    background-color: rgba(95, 46, 46, 0.431);
}

main {
    background-color: #E0D8DE;
    padding: 20px;
    flex-grow: 4;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    background-color: rgba(95, 46, 46, 0.431);
    width: 100%;
    bottom: 0;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    main {
        height: 80%;
        padding: 5px;
    }
    header {
        flex-grow: 2;
    }
    footer {
        flex-grow: 2;
    }
}

#my-canvas {
    border: 1px solid black;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.canvas-container {
    width: 50%;
    height: 95%;
    padding: 0;
    border: 0;
}

.panel {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .canvas-container {
        height: 95%;
    }
}

@media screen and (max-width: 900px) {
    .canvas-container {
        height: 85%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
    .canvas-container {
        width: 60%;
        height: 50%;
    }
    .panel {
        width: 60%;
        height: 47%;
    }
    .panel-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .canvas-container {
        width: 80%;
        height: 45%;
    }
    .panel {
        width: 80%;
        height: 52%;
    }
}

@media screen and (max-width: 300px) {
    .canvas-container {
        width: 90%;
    }
    .panel {
        width: 80%;
    }
}

.meme-txt {
    width: 70%;
    border: 0;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    outline: none;
}

.btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    background-color: #BBCBCB;
    border: 0;
}

.btn:hover {
    background-color: rgb(171, 172, 172);
}

.btn-img {
    width: 100%;
}

.share {
    width: 5rem;
    cursor: pointer;
}

.download {
    width: 5rem;
}

.txt-design {
    display: flex;
    align-items: center;
}

.txt-design input {
    display: none;
}

.font-family {
    height: 70%;
    background-color: #BBCBCB;
    cursor: pointer;
    outline: none;
    border: 0;
}

@media screen and (max-width: 640px) {
    .meme-txt {
        width: 100%;
        margin-bottom: 3px;
    }
    .btn {
        width: 2.2rem;
        height: 2.2rem;
        margin: 3px;
        padding: 2px;
    }
    .share {
        width: 4rem;
    }
    .download {
        width: 4rem;
    }
    .font-family {
        width: 56.5%;
    }
}

.download-link:link {
    text-decoration: none;
    color: black;
}

.download-link:visited {
    text-decoration: none;
    color: black;
}

.stickers {
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.sticker {
    width: 20%;
    height: 90%;
}

@media screen and (max-width: 640px) {
    .stickers {
        height: 70px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .sticker {
        width: 25%;
    }
}

.imgs {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: transform .8s ease-in-out;
    position: absolute;
}

.meme-gallery-img {
    max-width: 33%;
    max-height: 30%;
    flex-grow: 1;
    padding: 10px;
    transition: transform 2s ease-in-out;
    cursor: pointer;
}

.meme-gallery-img:hover {
    border: 3px solid deeppink;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 500px) {
    .meme-gallery-img {
        max-width: 50%;
    }
}

.meme-img:hover {
    border: 3px solid deeppink;
}

.meme-img {
    max-width: 20%;
    object-fit: contain;
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 1300px) {
    .meme-img {
        max-width: 20%;
    }
}

@media screen and (max-width: 900px) {
    .meme-img {
        max-width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .meme-img {
        max-width: 33%;
    }
}

@media screen and (max-width: 640px) {
    .meme-img {
        max-width: 50%;
    }
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.logo {
    max-width: 8%;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 200%;
    height: 60%;
    margin-left: 10px;
    cursor: pointer;
}

.logo-troll {
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .logo {
        max-width: 10%;
    }
}

.opening-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 92%;
}

.galley-header {
    text-align: center;
    height: 8%;
    margin: 0;
}

.about-btn {
    margin-left: 10px;
}

.nav-btn {
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: #BBCBCB;
    border: 0;
}

.nav-btn:hover {
    background-color: rgb(171, 172, 172);
}

@media screen and (max-width: 400px) {
    .nav-btn {
        height: 1.5rem;
        font-size: .8rem;
    }
}

.hide {
    display: none;
}

.img-hide {
    transform: translate(500px, 0px);
}

@font-face {
    font-family: 'anton';
    src: url(../fonts/anton/Anton-Regular.ttf);
}

/* modal */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  @media screen and (max-width: 500px) {
    .popup {

        width: 80%;

      }
}
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  .modal-img{
      width: 100%;
  }