* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    padding: 2px 10px;
    flex-grow: 3;
    background-color: rgba(95, 46, 46, 0.431);
}

main {
    background-color: #E0D8DE;
    padding: 20px;
    flex-grow: 4;
}

.scroll {
    overflow-y: scroll;
}

footer {
    background-color: rgba(95, 46, 46, 0.431);
    width: 100%;
    bottom: 0;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    main {
        height: 80%;
        padding: 5px;
    }
    header {
        flex-grow: 2;
    }
    footer {
        flex-grow: 2;
    }
}

#my-canvas {
    border: 1px solid black;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canvas-container {
    width: 50%;
    height: 95%;
    padding: 0;
    border: 0;
}

.panel {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .canvas-container {
        height: 95%;
    }
}

@media screen and (max-width: 900px) {
    .canvas-container {
        height: 85%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
    .canvas-container {
        width: 60%;
        height: 50%;
    }
    .panel {
        width: 60%;
        height: 47%;
    }
    .panel-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .canvas-container {
        width: 80%;
    }
    .panel {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    .canvas-container {
        width: 90%;
    }
    .panel {
        width: 80%;
    }
}

.meme-txt {
    width: 70%;
    border: 0;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    outline: none;
}

.btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    background-color: #BBCBCB;
    border: 0;
}

.btn-img {
    width: 100%;
}

.share {
    width: 5rem;
    cursor: pointer;
}

.download {
    width: 5rem;
}

.txt-design {
    display: flex;
    align-items: center;
}

.txt-design input {
    display: none;
}

.font-family {
    height: 70%;
    background-color: #BBCBCB;
    cursor: pointer;
    outline: none;
    border: 0;
}

@media screen and (max-width: 640px) {
    .meme-txt {
        width: 100%;
        margin-bottom: 3px;
    }
    .btn {
        width: 2.2rem;
        height: 2.2rem;
        margin: 3px;
        padding: 2px;
    }
    .share {
        width: 5rem;
    }
    .download {
        width: 5rem;
    }
    .font-family {
        width: 56.5%;
    }
}

.download-link:link {
    text-decoration: none;
    color: black;
}

.download-link:visited {
    text-decoration: none;
    color: black;
}

.stickers {
    background-color: #fff;
    width: 70%;
    height: 80px;
}

@media screen and (max-width: 640px) {
    .stickers {
        height: 40px;
        width: 100%;
    }
}

.imgs {
    display: flex;
    flex: 0, 0, auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.meme-gallery-img {
    max-width: 33%;
    max-height: 30%;
    flex-grow: 1;
    padding: 10px;
}

.meme-img {
    max-width: 20%;
    object-fit: contain;
    flex-grow: 1;
    padding: 10px;
}

@media screen and (max-width: 1300px) {
    .meme-img {
        max-width: 20%;
    }
}

@media screen and (max-width: 900px) {
    .meme-img {
        max-width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .meme-img {
        max-width: 33%;
    }
}

@media screen and (max-width: 640px) {
    .meme-img {
        max-width: 50%;
    }
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.logo {
    max-width: 8%;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 200%;
    height: 60%;
    margin-left: 10px;
}

.logo-troll {
    width: 100%;
}

@media screen and (max-width: 400px) {
    .logo {
        max-width: 10%;
    }
}

.opening-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 92%;
}

.galley-header {
    text-align: center;
    height: 8%;
    margin: 0;
}

.about-btn {
    margin-left: 10px;
}

.nav-btn {
    border-radius: 10px;
}

.hide {
    display: none;
}

@font-face {
    font-family: 'anton';
    src: url(../fonts/anton/Anton-Regular.ttf);
}